
//Black - 900
@font-face {
  font-family: 'Akrobat';
  src: url('../fonts/Akrobat-Black_2.eot');
  src: local('☺'), url('../fonts/Akrobat-Black_2.woff') format('woff'), url('fonts/Akrobat-Black_2.ttf') format('truetype'), url('../fonts/Akrobat-Black_2.svg') format('svg');
  font-weight: 900;
  font-style: normal;
}


//ExtraBold - 800
@font-face {
  font-family: 'Akrobat';
  src: url('../fonts/Akrobat-ExtraBold_2.eot');
  src: local('☺'), url('../fonts/Akrobat-ExtraBold_2.woff') format('woff'), url('../fonts/Akrobat-ExtraBold_2.ttf') format('truetype'), url('../fonts/Akrobat-ExtraBold_2.svg') format('svg');
  font-weight: 800;
  font-style: normal;
}


//Bold - 700
@font-face {
  font-family: 'Akrobat';
  src: url('../fonts/Akrobat-Bold_2.eot');
  src: local('☺'), url('../fonts/Akrobat-Bold_2.woff') format('woff'), url('../fonts/Akrobat-Bold_2.ttf') format('truetype'), url('../fonts/Akrobat-Bold_2.svg') format('svg');
  font-weight: 700;
  font-style: normal;
}


//SemiBold - 600
@font-face {
  font-family: 'Akrobat';
  src: url('../fonts/Akrobat-SemiBold_2.eot');
  src: local('☺'), url('../fonts/Akrobat-SemiBold_2.woff') format('woff'), url('../fonts/Akrobat-SemiBold_2.ttf') format('truetype'), url('../fonts/Akrobat-SemiBold_2.svg') format('svg');
  font-weight: 600;
  font-style: normal;
}


//Regular - 400
@font-face {
  font-family: 'Akrobat';
  src: url('../fonts/Akrobat-Regular_2.eot');
  src: local('☺'), url('../fonts/Akrobat-Regular_2.woff') format('woff'), url('../fonts/Akrobat-Regular_2.ttf') format('truetype'), url('../fonts/Akrobat-Regular_2.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}


//Light - 300
@font-face {
  font-family: 'Akrobat';
  src: url('../fonts/Akrobat-Light_2.eot');
  src: local('☺'), url('../fonts/Akrobat-Light_2.woff') format('woff'), url('../fonts/Akrobat-Light_2.ttf') format('truetype'), url('../fonts/Akrobat-Light_2.svg') format('svg');
  font-weight: 300;
  font-style: normal;
}

//Thin - 100
@font-face {
  font-family: 'Akrobat';
  src: url('../fonts/Akrobat-Thin_2.eot');
  src: local('☺'), url('../fonts/Akrobat-Thin_2.woff') format('woff'), url('../fonts/Akrobat-Thin_2.ttf') format('truetype'), url('../fonts/Akrobat-Thin_2.svg') format('svg');
  font-weight: 100;
  font-style: normal;
}

