<footer class="wrapper footer">

    <div class="container">

        <div class="footer__inner">

            <div class="footer__left">
                <div class="footer__left-text">
                    © 2020 г. Онлайн калькулятор военной ипотеки 2020
                </div>
                <div class="footer__left-text">
                    По вопросам функционирования сайта обращаться по телефону <span>89111877407</span>
                </div>
            </div>

            <div class="footer__right">

                <div class="footer__right-col  m-right">
                    <ul>
                        <li>
                            <a href="#">Ссылка <span>№1</span></a>
                        </li>
                        <li>
                            <a href="#">Ссылка <span> №1</span></a>
                        </li>
                    </ul>
                </div>

                <div class="footer__right-col">
                    <ul>
                        <li>
                            <a href="#">Ссылка <span>№1</span></a>
                        </li>
                        <li>
                            <a href="#">Ссылка <span> №1</span></a>
                        </li>
                    </ul>
                </div>

            </div>

        </div><!-- footer__inner -->
    </div><!-- container -->

</footer><!-- footer -->