<header class="wrapper  header">

    <div class="container">
        <div class="header__inner">

            <a class="header__logo" href="#">
                <img src="./assets/img/logo.png" alt="Логотип - росвоенипотека">
            </a>

            <div class="header__social">

                <h3 class="header__social-text">всегда готовы к вашим вопросам</h3>

                <div class="header__social-links" lang="en">

                    <a class="header__social-link" href="#">
                        <img src="./assets/img/header/viber.png" alt="viber">
                    </a>

                    <a class="header__social-link" href="#">
                        <img src="./assets/img/header/WhatsApp.png" alt="WhatsApp">
                    </a>

                    <a class="header__social-link" href="#">
                        <img src="./assets/img/header/tellegram.png" alt="telegram">
                    </a>

                    <a class="header__social-link" href="#">
                        <img src="./assets/img/header/email.png" alt="email">
                    </a>

                </div>

            </div><!-- header__social -->

        </div><!-- header__inner -->
    </div><!-- container -->

</header><!-- wrapper -->